:root {
    /* Fonts */
    --main-font: 'Noto Sans', sans-serif;

    /* Colors */
    --main-bg-light: #ffffff;
    --main-bg-accent: #f6f6f6;
    --main-dark-font: #070707;
    --main-gray-font: #828282;
    --main-light-font: #ffffff;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--main-font);
    color: var(--main-dark-font);
}

a {
    display: block;
    text-decoration: none;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 2px solid red; */
}

.section {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: var(--main-bg-light);
}

.section__clr {
    background-color: var(--main-bg-accent);
}

.section-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.section-descr {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.hero {
    padding-top: 0;
}

.header {
    border-bottom: 1px solid var(--main-gray-font);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.nav-menu {
    display: flex;
}

.nav-item + .nav-item {
    margin-left: 155px;
}
